<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>pw.lordisturbia.zalgoalfred</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>089BA4C8-D467-4665-9591-1CDA1732B473</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EAC98ED5-9C92-4840-938A-F428A632CFB1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CDCC02A8-4716-4FF3-BEB5-3DBA0F0FD911</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>089BA4C8-D467-4665-9591-1CDA1732B473</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Copy to clipboard with backticks</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EAC98ED5-9C92-4840-938A-F428A632CFB1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>LorDisturbia</string>
	<key>description</key>
	<string>He comes</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Zalgo Text</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>^.*$</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string>`$0`</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>089BA4C8-D467-4665-9591-1CDA1732B473</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>EAC98ED5-9C92-4840-938A-F428A632CFB1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>zalgo</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Summoning Zalgo...</string>
				<key>script</key>
				<string>python zalgo.py "{query}"
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Convert text to Zalgo</string>
				<key>title</key>
				<string>Zalgo Text Converter</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CDCC02A8-4716-4FF3-BEB5-3DBA0F0FD911</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>089BA4C8-D467-4665-9591-1CDA1732B473</key>
		<dict>
			<key>xpos</key>
			<integer>335</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
		<key>CDCC02A8-4716-4FF3-BEB5-3DBA0F0FD911</key>
		<dict>
			<key>xpos</key>
			<integer>140</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>EAC98ED5-9C92-4840-938A-F428A632CFB1</key>
		<dict>
			<key>xpos</key>
			<integer>475</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
